# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Outputs
results/*.csv
results/plots/*
!results/.gitkeep

# Misc
*.log
